site_name: Homelab Documentation

plugins:
  - search
  - awesome-pages
theme:
  name: material
  icon:
    repo: fontawesome/brands/github
  palette:
    - scheme: slate
      primary: indigo
  features:
    - content.code.copy
    - navigation.footer
    - navigation.instant
    - navigation.top
    - toc.follow

repo_url: https://github.com/myles-coleman/homelab-cluster
edit_uri: edit/main/docs/

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - toc:
      permalink: '#'
  - def_list
  - attr_list

extra:
  generator: false
