apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ytdl-appdata
  namespace: youtubedl-material
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: longhorn
