apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ytdl-mongo-data
  namespace: youtubedl-material
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: longhorn
