apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: authentik-secrets
  namespace: authentik
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-notes
  target:
    name: authentik-secrets
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        secret-key: '{{ .AUTHENTIK_SECRET_KEY }}'
        db-user: 'authentik'
        db-password: '{{ .AUTHENTIK_DB_PASSWORD }}'
        outpost-token: '{{ .AUTHENTIK_OUTPOST_TOKEN }}'
  data:
  - secretKey: AUTHENTIK_SECRET_KEY
    remoteRef:
      key: ff428c63-e765-48e7-9e3f-160c51eb9a88
  - secretKey: AUTHENTIK_DB_PASSWORD
    remoteRef:
      key: 0e0e18f2-9b81-4501-a1f0-ac1b1afb41cd
  - secretKey: AUTHENTIK_OUTPOST_TOKEN
    remoteRef:
      key: REPLACE_WITH_BITWARDEN_SECRET_ID  # Store the terraform output here 