apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: fittrackee-app
  namespace: fittrackee
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: longhorn
