apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: cloudflare-tunnel-credentials
  namespace: cloudflared
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-notes
  target:
    name: cloudflare-tunnel-cloudflare-tunnel-remote
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        tunnelToken: '{{ .CLOUDFLARE_TUNNEL_TOKEN | replace "\n" "" | replace "\r" "" }}'
  data:
  - secretKey: CLOUDFLARE_TUNNEL_TOKEN
    remoteRef:
      key: 22c00623-c55b-4a98-ab4a-47c54b4d8ff8
