apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: cloudflare-tunnel-credentials
  namespace: cloudflared
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-notes
  target:
    name: cloudflare-tunnel-credentials
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        tunnel-token: '{{ .CLOUDFLARE_TUNNEL_TOKEN | replace "\n" "" | replace "\r" "" }}'
  data:
  - secretKey: CLOUDFLARE_TUNNEL_TOKEN
    remoteRef:
      key: 12877b6d-785d-47d5-bfed-dff15e4f6e8b
