apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: cloudflared

resources:
  - namespace.yaml
  - helmchart.yaml
  - external-secret.yaml

patches:
  - patch: |-
      $patch: delete
      apiVersion: v1
      kind: Secret
      metadata:
        name: cloudflare-tunnel-cloudflare-tunnel-remote
